@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;700&display=swap');

:root {
    --main: #378BA4;
    --light-accent: #E8EDE7;
    --light-shades: #81BECE;
    --dark-accent: #012E4A;
    --dark-shades: #036280;
    --hover: #C0587E;
}

html {
    font-family: 'Josefin Sans', sans-serif;
    background-color: var(--dark-accent);
    color: var(--main);
    height: 100%;
}

#header {
    color: #d67962;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h1 {
    font-size: 55px;
    text-align: center;
}

#site {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

table {
    vertical-align: middle;
    border-collapse: collapse;
    color: var(--light-accent);
}

#table-container {
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#headers {
    font-weight: bold;
    text-align: center;
    height: 35px;
    vertical-align: middle;
    color: var(--light-shades);
    font-size: 19px;
    td {
        border-bottom: var(--light-accent) 2px solid;
    }
}

#title-cell {
    width: 300px;
}

.buttons {
    cursor: pointer;
}

.buttons:hover {
    color: var(--hover);
}

#fetch {
    cursor: pointer;
    color: var(--light-accent);
    font-size: 35px;
}

#fetch:hover {
    color: var(--hover);
}

p {
    margin: 12px 0px 8px 0px;
}

hr {
    margin: 4px 0px 4px 0px;
    border-color: var(--dark-shades);
}

td {
    width: 130px;
    text-align: center;
    vertical-align: middle;
    padding: 6px 0px 6px 0px;
}

tbody tr:nth-child(even) {
    background-color: var(--dark-shades);
}

#retrieve {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 165px;
}

.area{
    position: absolute;
    left: 0;
    top: 0;
    background: var(--dark-accent);  
    width: 100%;
    height: 100%;
    z-index: -1;
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 98%;
    height: 120%;
    overflow: hidden;
    margin: 0;
    padding: 15px;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    animation: animate 25s linear infinite;
    bottom: -150px;
    color: #81949e;
    font-size: 50px;
}

.circles li:nth-child(1),
.circles li:nth-child(2),
.circles li:nth-child(3),
.circles li:nth-child(4),
.circles li:nth-child(5),
.circles li:nth-child(6),
.circles li:nth-child(7),
.circles li:nth-child(8),
.circles li:nth-child(9),
.circles li:nth-child(10),
.circles li:nth-child(11),
.circles li:nth-child(12),
.circles li:nth-child(13),
.circles li:nth-child(14),
.circles li:nth-child(15) {
    width: 50px;
    height: 50px;
}

@keyframes animate {
    0% {
        transform: translateY(0);
        opacity: 0.1;
    }

    100% {
        transform: translateY(-1000px);
        opacity: 0;
    }
}

.material-symbols-outlined {
    font-size: 40px;
    color: var(--light-accent);
}