html {
    height: 100%;
}

body {
    height: 100%;
}

.display-1 {
    font-size: 3rem;
    margin: 2% 0%;
    text-align: center;
    margin-bottom: 3%;
}

.table {
    text-align: center;
}

.table th, tr {
    border-bottom: 1px solid grey;
    vertical-align: middle;
}

.table td {
    padding: 0.3rem;
    vertical-align: middle;
}

thead {
    color: white;
}

#inner-container {
    width: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

small {
    color: red;
}

p {
    text-align: center;
}

.output {
    text-align: center;
}